<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">OtakuRoom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            {% if app.user != null %}
            <ul class="navbar-nav ml-4">
                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('people') }}" class="nav-link">People</a>
                </li>
            </ul>

            <form class="d-flex" action="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>

            {% endif %}

            <ul class="navbar-nav ms-auto">

            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Register</a>
                </li>
            {% endif %}
            {% if app.user != null %}

            <li class="nav-item">
                <a href="#" class="nav-link">Mensajes privados</a>
            </li>

            <li class="nav-item">
                <a href="{{ path('notification')}}" class="nav-link">Notificaciones</a>
            </li>

            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopub="true" aria-expanded="false">

                    {% if app.user.image == null %}

                    <img src="{{ asset("img/default.jpg") }}" alt="" class="rounded-circle mr-1" style="width:1.8em; height:1.8em;">

                    {% else %}

                    <img src="{{ asset("img/"~app.user.image) }}" alt="" class="rounded-circle mr-1" style="width:1.8em; height:1.8em;">

                    {% endif %}

                    Hello! {{ app.user.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="{{ path('account')}}" class="dropdown-item">Account</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('profile')}}" class="dropdown-item">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('logout')}}" class="dropdown-item">Logout</a>
                </div>
            </li>

            {% endif %}
            </ul>
        </div>
    </div>
</nav>