{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/publications.js')}}"></script>
{# <script src="{{ asset('js/countLikes.js')}}"></script> #}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <style>
    .no-more{
        opacity:0;
    }
    </style>
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<body>
<div class="col fondo">
<div class="container mt-4">
    {% for message in app.session.flashBag.get('msg') %} <!--Mensaje de registro correcto-->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            {# <span aria-hidden="true">&times;</span> #}
        </button>
        </div>
        {% endfor %}
    <div class="row">

        <div class="col-md-12 col-xl-8 order-1 order-xl-0">
            <div class="card border-secondary mb-3" style="min-height:40em">
                <div class="card-header bg-transparent fw-bold text-primary mb-3">Timeline</div>
                <div class="card-body text-primary p-0 content-publications">
                    
                    {% for publication in pagination %}
                        <div class="card border-top-0 publication-item">
                            <div class="row">
                                <div class="col-md-2">
                                    {% if publication.user_id|userById.image == null %}

                                    <img src="{{ asset("img/default.jpg") }}" alt="" class="rounded-circle m-3" style="width:5em; height:5em;">

                                    {% else %}

                                    <img src="{{ asset("img/"~publication.user_id|userById.image) }}" alt="" class="rounded-circle m-3" style="width:5em; height:5em;">

                                    {% endif %}
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <a href="{{path('profile', {'nickname': publication.user_id|userById.nick})}}" class="text-decoration-none text-dark" style="font-weight:500">
                                            {{publication.user_id|userById.nick}}
                                        </a>
                                        -
                                        <a class="text-decoration-none text-primary font-weight-bold">
                                            {{publication.user_id|userById.name}}
                                        </a>
                                        <a class="text-decoration-none text-primary font-weight-bold">
                                            {{publication.user_id|userById.surname}}
                                        </a>
                                        -
                                        <p class="card-text d-inline-block mb-1">
                                            <small class="text-muted">{{ publication.created|timeAgo }}</small>
                                        </p>

                                        <span id="{{publication.id}}a" class="likes float-end p-1" value="{{publication.likes}}">{{publication.likes}}</span>                                        

                                        {% if publication.user_id is defined and publication.user_id != app.user.id %}
 
                                        

                                            <button type="button" id="{{publication.id}}" class="btn float-end like btn-like
                                            
                                            {% if likeStatus(app.user, publication) == true %} 

                                                d-none

                                            {% endif %}

                                            " data-btn-like={{publication.id}}>
                                            
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                </svg>
                                            
                                            </button>

                                            <button type="button" class="btn float-end like btn-dislike
                                            
                                            {% if likeStatus(app.user, publication) == false %} 

                                                d-none

                                            {% endif %}
                                            
                                            " data-btn-dislike={{publication.id}}>
                                            
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                </svg>
                                            
                                            </button>
                                        
                                        {% endif %}
                                        
                                        <p class="card-text" style="color: black">{{ publication.text }}</p>
                                        
                                        {# Si la publicacion tiene img subida #}
                                        {% if publication.image is defined and publication.image != 'empty' %}
                                            <div class="d-block">
                                                <img src="{{ asset("img/"~publication.image) }}" width="80%" class="img-thumbnail mt-2" alt="img failed">
                                            </div>
                                        {% endif %}
                                        <div class="mt-4">
                                        {# Si la publicacion tiene documento subido #}
                                        {% if publication.document is defined and publication.document != null %}
                                            <div class="d-inline">
                                                <a href="{{ asset("document/"~publication.document) }}" class="align-middle text-decoration-none ms-2 p-0" target="_blank">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        {% endif %}

                                        {# Si la publicacion tiene user_id y es la misma que el usuario logueado boton borrar #}
                                        {% if (publication.user_id is defined) and (publication.user_id == app.user.id) %}
                                            <div class="d-inline">
                                                <button data-id="{{publication.id}}" class="btn btn-delete-pub float-end align-middle me-1 p-0" aria-hidden="true">  
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        <div id="spinner1" class="spinner mx-auto text-center"><img src="{{ asset("img/loader.gif") }}" alt="" class="rounded-circle mx-auto" style="width:5em; height:5em;"></div>
                    </div>
                </div>
                <div class="no-more text-center mb-4">No more publications</div>
            </div>
        </div>

        {# COLUMNA DE USUARIO STATS #}
        <div class="col-md-12 order-md-0 col-xl-4 sidebar sticky-xl-top order-0 order-xl-1">
            <div class="card mb-3 border-secondary">
                <div class="row d-flex">
                    <div class="col-md-4">
                        <div class="card-body">
                            {% if app.user.image == null %}

                            <img src="{{ asset("img/default.jpg") }}" alt="" class="rounded-circle" style="width:6em; height:6em;">

                            {% else %}

                            <img src="{{ asset("img/"~app.user.image) }}" alt="" class="rounded-circle" style="width:6em; height:6em;">

                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{{ path('profile')}}" class="card-title text-decoration-none fw-bolder h4">{{app.user.nick}}</a>
                            <p class="card-text text-secondary">{{app.user.name}} {{app.user.surname}}</p>
                        </div>
                    </div>
                    <div class="card-group text-center mb-2 mt-2 fw-bolder">

                        {% set userStatus = app.user|user_stats %}

                                <div class="card border-0 p-1">
                                    <a href="{{ path('following')}}" class="text-decoration-none">
                                        <span>Following</span><br>
                                        <span class="text-secondary">{{userStatus.following}}</span>
                                    </a>
                                </div>
                                <div class="card border-0 p-1">
                                    <a href="{{ path('followed')}}" class="text-decoration-none">
                                        <span>Followers</span><br>
                                        <span class="text-secondary">{{userStatus.followers}}</span>
                                    </a>
                                </div>
                                <div class="card border-0 p-1">
                                    <a href="{{ path('profile')}}" class="text-decoration-none">
                                        <span>Publications</span><br>
                                        <span class="text-secondary">{{userStatus.publications}}</span>
                                    </a>
                                </div>
                                <div class="card border-0 p-1">
                                    <a href="{{ path('likesAction')}}" class="text-decoration-none">
                                        <span>Likes</span><br>
                                        <span class="text-secondary">{{userStatus.likes}}</span>
                                    </a>
                                </div>
                            </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-body text-primary">
                    <h5 class="card-title">Create {{title}}</h5>
                    {{ form_start(form) }} 
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
    </div>
</div>
</div>
</body>
{% endblock %}
