{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/publications.js')}}"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <style>
    .no-more{
        opacity:0;
    }
    </style>
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<body>
<div class="container mt-4">
    {% for message in app.session.flashBag.get('msg') %} <!--Mensaje de registro correcto-->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            {# <span aria-hidden="true">&times;</span> #}
        </button>
        </div>
        {% endfor %}
    <div class="row">

        <div class="col-md-8">
            <div class="card border-secondary mb-3" style="min-height:40em">
                <div class="card-header bg-transparent text-dark mb-3">Timeline</div>
                <div class="card-body text-secondary p-0 content-publications">
                    
                    {% for publication in pagination %}
                        <div class="card border-top-0 publication-item">
                            <div class="row">
                                <div class="col-md-2">
                                    {% if publication.user_id|userById.image == null %}

                                    <img src="{{ asset("img/default.jpg") }}" alt="" class="rounded-circle m-3" style="width:5em; height:5em;">

                                    {% else %}

                                    <img src="{{ asset("img/"~publication.user_id|userById.image) }}" alt="" class="rounded-circle m-3" style="width:5em; height:5em;">

                                    {% endif %}
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <a class="text-decoration-none text-dark font-weight-bold">
                                            {{publication.user_id|userById.name}}
                                        </a>
                                        -
                                        <a class="text-decoration-none text-dark font-weight-bold">
                                            {{publication.user_id|userById.surname}}
                                        </a>
                                        -
                                        <a class="text-decoration-none text-dark">
                                            {{publication.user_id|userById.nick}}
                                        </a>
                                        -
                                        <p class="card-text d-inline-block mb-1">
                                            <small class="text-muted">{{ publication.created|date('d-m-Y') }}</small>
                                        </p>
                                        <p class="card-text">{{ publication.text }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        <div id="spinner1" class="spinner mx-auto text-center"><img src="{{ asset("img/loader.gif") }}" alt="" class="rounded-circle mx-auto" style="width:5em; height:5em;"></div>
                    </div>
                </div>
                <div class="no-more text-center">No more publications</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3 border-secondary">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body">
                            {% if app.user.image == null %}

                            <img src="{{ asset("img/default.jpg") }}" alt="" class="rounded-circle" style="width:6em; height:6em;">

                            {% else %}

                            <img src="{{ asset("img/"~app.user.image) }}" alt="" class="rounded-circle" style="width:6em; height:6em;">

                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{app.user.name}} {{app.user.surname}}</h5>
                            <p class="card-text">{{app.user.nick}}</p>
                            <p class="card-text"><small class="text-muted">Last update 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Create {{title}}</h5>
                    {{ form_start(form) }} 
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
    </div>
</div>
</body>
{% endblock %}
