{% include 'componentsHtml/nav.html.twig' %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="{{ asset('css/juego.css') }}" rel="stylesheet">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <title>{{title}}</title>

    <div id="titulos">
        <h2 class="text-center mt-4">Guess the anime character</h2>
    </div>

<div class="container juego-container">
    <div class="row align-items-start">
        
        <div class="col d-flex flex-column justify-content-center"  style="min-height: 60vh;">
            <h4 class="text-center align-middle">Fails, responses, etc...</h4>
            <div class="d-flex respuestas justify-content-center">
                <h3 class="text-center bg-success text-light p-2 rounded">Implementing</h3>
            </div>
                <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary text-light w-50 text-center mx-auto my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Highest scores
            </button>
        </div>

        <main class="col" id="tabla">
            <h4 class="text-center" id="intentos"></h4>
            <div class="same-line mx-auto">
                <h4 class="text-center">Round: <span class="text-primary" id="rondas">10</span></h4>
            </div>
        </main>

        {# <section id="resultados">

        </section> #}
        <div class="col mx-auto">
            <div class="d-flex flex-column justify-content-center mt-5">

                <div class="d-flex flex-column mt-5 align-items-center">
                    <label for="respuesta" class="form-label"><h4>Only Character's Name or Surname:</h4></label>
                    <input type="text" class="form-control w-75 m-0" name="respuesta" id="respuesta" aria-describedby="name">
                    <button class="btn btn-primary text-light mt-2" onclick="comprobarRespuesta()">Check Name</button>
                </div>

                <div class="d-flex flex-column mt-5 justify-content-center align-items-center">
                    <h1 class="text-center">Score</h1>
                    <h1 class="text-center text-primary" id="puntuacion">0</h1>
                </div>
            </div>

        </div>
        
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Top 10</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="tabla-puntuaciones table align-middle table-hover text-center mx-auto">
                <thead>
                    <tr class="align-middle table-dark text-light fw-bold">
                        <td>User</td>
                        <td>Score</td>
                    </tr>
                </thead>
                <tbody class="table-primary fw-bold">
                {% for score in pagination %}
                    <tr>
                        <td>{{score.user|userById.nick}}</td>
                        <td>{{score.score}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

</div>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        {{ encore_entry_script_tags('app') }}
        <script src="https://unpkg.com/@webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
        <script src="{{ asset('js/sidebars.js') }}"></script>
        <script src="{{ asset('js/juego/generarAleatorio.js')}}"></script>
        <script src="{{ asset('js/juego/generadorTabla.js')}}"></script>
        <script src="{{ asset('js/juego/conexion.js')}}"></script>
        <script src="{{ asset('js/juego/juego.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}
