{% extends 'baseIndex.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<body>
<div class="container-fluid px-0">
  <div class="row mx-auto">
    <div class="col col-lg-9 p-0" style="height:100vh;  ">
      <img src="{{ asset("img/index.jpg") }}" class="img-fluid" alt="image-principal" style="height:100vh; width:100vw;">
    </div>
    <div class="col col-lg-3 py-5 d-flex flex-column justify-content-between">
      <div class="mx-auto p-1 d-flex flex-column text-center">
        <img style="filter: drop-shadow(1px 1px 1px grey);" src="{{ asset('img/img-server/logo.png') }}" class="img-fluid mx-auto" width="180px" alt="logo">
        <h1 class="text-center m-2">OtakuRoom</h1>
      </div>
      <div class="mx-auto p-1 d-flex flex-column text-center">
        <h4>You do not have an account?</h4>
        <a class="btn btn-primary text-light w-50 text-decoration-none mx-auto fw-bold" href="{{ path('register') }}">REGISTER</a>
      </div>
      <div class="mx-auto p-3 d-flex flex-column">
        <h4 class="text-center">Do you already have an account?</h4>
        <a class="btn btn-secondary text-light w-50 text-decoration-none mx-auto fw-bold" href="{{ path('login') }}">LOGIN</a>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}