{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/publications.js')}}"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <style>
    .no-more{
        opacity:0;
    }
    </style>
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<body>
<div class="container mt-4">
    <h1 class="box-header">Publicaciones que le gustan a {{user.nick}}</h1>

    <div class="row">

        <div class="col-md-12">
            <div class="card border-secondary mb-3" style="min-height:40em">
                <div class="card-header bg-transparent text-dark mb-3">Timeline</div>
                <div class="card-body text-secondary p-0 content-publications">
                    
                    {% for notification in pagination %}
                        <div class="card border-top-0 publication-item">
                            <div class="alert alert-default">

                                {% set notu = notification.type_id|get_user %}

                                {% if notification.type_not == "follow" %}
                                    <a href="{{ path("profile",{'nickname':notu.nick})}}">
                                        {{notu.name}} {{notu.surname}}
                                    </a>
                                     te está siguiendo.
                                {% endif %}

                                {% if notification.type_not == "like" %}
                                    <a href="{{ path("profile",{'nickname':notu.nick})}}">
                                        {{notu.name}} {{notu.surname}}
                                    </a>
                                     le ha dado me gusta a una de tus publicaciones.
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="d-flex justify-content-center">
                        <div id="spinner1" class="spinner mx-auto text-center"><img src="{{ asset("img/loader.gif") }}" alt="" class="rounded-circle mx-auto" style="width:5em; height:5em;"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row"> 
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
    </div>
</div>
</body>
{% endblock %}